In [ ]:
(해시) 완주하지 못한 선수

In [1]:
par=["leo", "kiki", "eden"]
com=	["eden", "kiki"]
answer=set(par)-set(com)
print(answer)

{'leo'}

(해쉬) 전화번호 목록

In [5]:

def solution(phone_book):

    for number in phone_book:
        temp=""
        for i in number:
            temp+=i
            if temp in phone_book and temp!=number:
                return False

    return True

False

(해쉬) 위장

In [1]:
from itertools import combinations
clothes = [["yellowhat", "headgear"], ["bluesunglasses", "eyewear"], ["green_turban", "headgear"]]
cloth=[]
t=[]
for i in clothes:
    cloth.append(i[1])
    t.append(i[0])
print(t)
total=0
for i in range(len(set(cloth))):
    
    total+=len(list(combinations(t, i)))
print(total)

['yellowhat', 'bluesunglasses', 'green_turban']
4

(해쉬) 베스트앨범

In [7]:
genres=["classic", "pop", "classic", "classic", "pop"]
plays=[500, 600, 150, 800, 2500]
genres_set = list(set(genres))
i=0
play=0
a={}
for genre in genres_set:
    for i in range(len(genres)):
        if genre == genres[i]:
            play+=plays[i]
            i+=1
        else:
            i+=1
    a[genre]=play
    play=0
print(a)

{'classic': 1450, 'pop': 3100}

In [27]:
from collections import deque
import math

progresses = [93, 30, 55]
speeds = [1, 30, 5]

# progresses = [95, 90, 99, 99, 80, 99]	
# speeds = [1, 1, 1, 1, 1, 1]

answer = []
day = 0
for i in range(len(progresses)):
    answer.append(math.ceil((100-progresses[i])/speeds[i]))
dq = deque(answer)
a = dq.popleft()
total = []
i=1

while True:

    if not dq:
        total.append(i)
        break

    elif a >= dq[0]:
    
        dq.popleft()
        i +=1
    
    else:
        total.append(i)
        a = dq.popleft()
        i=1
print(total)

deque([7, 3, 9])
[2, 1]

(스택/큐) 프린터

In [36]:
from collections import deque

priorities = [1, 1, 9, 1, 1, 1]
location = 0

dq=deque(priorities)
answer = 0
max_num = max(priorities)
loc = priorities[location]
i=1
while True:
    if max_num==loc:
        ############# 같은 숫자가 있을 때 카운트가 필요

        break
    elif max_num==dq.popleft():
        i+=1
        max_num = max(dq)
    else:
        a=dq.popleft()
        dq.append(a)
print(i)

2

(힙) 최소, 최대

In [48]:
import heapq

heap_items = [1,3,5,7,9]
# heap로 바꾸기
heapq.heapify(heap_items)
print(heap_items)

max_heap = []
for item in heap_items:
  heapq.heappush(max_heap, (-item, item))

print(max_heap)
print(heapq.heappop(max_heap)[1])

[1, 3, 5, 7, 9]
None
[(-9, 9), (-7, 7), (-3, 3), (-1, 1), (-5, 5)]
9

(힙) 더맵게

In [ ]:
import heapq

def solution(scoville, K):
    i=0
    heapq.heapify(scoville)
    while len(scoville)>1:
        min1 = heapq.heappop(scoville)
        print(min1)
        if min1 >= 7:
            break
        else:
            min2 = heapq.heappop(scoville)
            a = min1 + (min2*2)
            scoville.append(a)
            i+=1
    return i

(힙) 디스크 컨트롤러

In [54]:
import heapq

jobs = [[0, 3], [1, 9], [2, 6]]
time = 0
heapq.heapify(jobs)

# while len(jobs)>0:
#     time+= heapq.heappop(jobs)[1]
#     print(jobs)
# print(time)

[[1, 9], [2, 6]]
[[2, 6]]
[]
18

In [ ]:
(힙) 이중우선순위큐

In [92]:
import re

def solution(operations):
    answer = []
    num = []
    for i in operations:
        if 'I' in i:
            
            num.append(int(re.findall('[-+]?\d+', i)[0]))

        elif i == "D -1":
            if not num:
                continue
            num.remove(min(num))
        elif i == "D 1":
            if not num:
                continue
            num.remove(max(num))


    if not num:
        return [0,0]
    else :
        return [max(num), min(num)]

['-45']
[-45]
['653']
[-45, 653]
['-642']
[-45, -642]
['45']
[-45, -642, 45]
['97']
[-45, -642, 45, 97]
min: -642
['333']
[-45, 45, 333]
[333, -45]

In [55]:
a=[1,2,3]
print(max(a))
print(min(a))

3
1

SQL 테스트

(SQL) 고양이와 개는 몇마리 있을까

In [ ]:

'''
SELECT ANIMAL_TYPE, COUNT(ANIMAL_TYPE)
FROM ANIMAL_INS
GROUP BY ANIMAL_TYPE
ORDER BY ANIMAL_TYPE
'''

(SQL) 없어진 기록 찾기

In [ ]:
'''
SELECT ANIMAL_OUTS.ANIMAL_ID, ANIMAL_OUTS.NAME
FROM ANIMAL_OUTS
LEFT OUTER JOIN ANIMAL_INS
ON ANIMAL_OUTS.ANIMAL_ID = ANIMAL_INS.ANIMAL_ID
WHERE ANIMAL_INS.ANIMAL_ID IS NULL
ORDER BY ANIMAL_OUTS.ANIMAL_ID
'''

(SQL) 동명 동물 수 찾기

In [ ]:
'''
SELECT NAME, COUNT(NAME) AS 'COUNT'
FROM ANIMAL_INS
GROUP BY NAME
HAVING COUNT(NAME) > 1
ORDER BY NAME
'''

(SQL) 입양 시각 구하기(1)

In [ ]:
-- 풀이 1 HAVING
'''
SELECT HOUR(DATETIME) HOUR, COUNT(DATETIME) COUNT
FROM ANIMAL_OUTS
GROUP BY HOUR
HAVING HOUR>=9 AND HOUR<=19
ORDER BY HOUR
'''

-- 풀이 2 BETWEEN
'''
SELECT HOUR(DATETIME) HOUR, COUNT(DATETIME) COUNT
FROM ANIMAL_OUTS
WHERE HOUR(DATETIME) BETWEEN 9 AND 19
GROUP BY HOUR
ORDER BY HOUR
'''

(SQL) 입양 시각 구하기(2)

In [ ]:
-- 풀이 1
'''
SET @hour := -1;

SELECT (@hour := @hour + 1) as HOUR,
(SELECT COUNT(*) FROM ANIMAL_OUTS WHERE HOUR(DATETIME) = @hour) as COUNT
FROM ANIMAL_OUTS
WHERE @hour < 23
'''

(SQL) NULL 처리 , IF 문

In [ ]:
'''
SELECT ANIMAL_TYPE, IFNULL(NAME, 'NO name'), SEX_UPON_INTAKE
FROM ANIMAL_INS
ORDER BY ANIMAL_ID
'''

(SQL) 오랜 기간 보호한 동물

In [ ]:
'''
SELECT I.NAME, I.DATETIME
FROM ANIMAL_INS I
LEFT OUTER JOIN  ANIMAL_OUTS O
ON I.ANIMAL_ID = O.ANIMAL_ID
WHERE O.ANIMAL_ID IS NULL
ORDER BY I.DATETIME
LIMIT 3
'''

In [ ]:
(SQL) 오랜 기간 보호한 동물 2

In [ ]:
-- 풀이 1
'''
SELECT I.ANIMAL_ID, I.NAME
FROM ANIMAL_INS I 
LEFT OUTER JOIN ANIMAL_OUTS O
ON I.ANIMAL_ID = O.ANIMAL_ID
ORDER BY O.DATETIME-I.DATETIME DESC
LIMIT 2
'''

-- 풀이 2
'''
SELECT I.ANIMAL_ID, I.NAME
FROM ANIMAL_INS I ANIMAL_OUTS O
WHERE I.ANIMAL_ID = O.ANIMAL_ID
ORDER BY O.DATETIME-I.DATETIME DESC
LIMIT 2
'''

(SQL) 이름으로 찾기 IN

In [ ]:
'''
SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE
FROM ANIMAL_INS
WHERE NAME IN ('Lucy', 'Ella', 'Pickle', 'Rogan', 'Sabrina', 'Mitty' ) 
ORDER BY ANIMAL_ID
'''

(SQL) 단어 들어간 것 찾기 LIKE

In [ ]:
'''
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE NAME LIKE '%EL%' AND ANIMAL_TYPE = 'Dog'
ORDER BY NAME
'''

(SQL) CASE WHEN THEN ELSE END

In [ ]:
'''
SELECT ANIMAL_ID, NAME, 

CASE
WHEN SEX_UPON_INTAKE LIKE '%Neutered%' OR SEX_UPON_INTAKE LIKE '%Spayed%' 
THEN 'O'
ELSE 'X'
END '중성화'

FROM ANIMAL_INS
'''

코딩책

(코테책) 플로이드워셔

In [ ]:
INF = int(1e9)

n = int(input())
m = int(input())

graph = [[INF]*(n+1) for _ in range(n+1)]

for a in range(1, n+1):
    for b in range(1, n+1):
        if a == b:
            graph[a][b] = 0

for _ in range(m):
    a,b,c = map(int, input().split())
    graph[a][b] = c

for k in range(1, n+1):
    for a in range(1, n+1):
        for b in range(1, n+1):
            graph[a][b] = min(graph[a][b], graph[a][k]+ graph[k][b])

for a in range(1, n+1):
    for b in range(1, n+1):
        if graph[a][b] == INF:
            print("INFINITY", end = " ")
        else:
            print(graph[a][b], end= " ")
    print()

(코테책) 다익스트라

In [ ]:
import heapq
import sys

input = sys.stdin.readline
INF = int(1e9)
#n = 6
#m = 11
n, m = map(int, input().split())
start = int(input())

graph = [[] for i in range(n+1)]
distance = [INF]*(n+1)

for _ in range(m):
    a,b,c = map(int, input().split())
    graph[a].append((b,c))

def dijkstra(start):
    q =[]

    heapq.heappush(q, (0, start))
    distance[start] =0
    while q:
        dist, now = heapq.heappop(q)
        if distance[now] < dist:
            continue

        for i in graph[now]:
            cost = dist + i[1]
            if cost < distance[i[0]]:
                distance[i[0]] = cost
                heapq.heappush(q, (cost, i[0]))

dijkstra(start)

for i in range(1, n+1):
    if distance[i] == INF:
        print("INFINITY")
    else:
        print(distance[i])