(알고리즘) 완주하지 못한 선수

In [1]:
par=["leo", "kiki", "eden"]
com=	["eden", "kiki"]
answer=set(par)-set(com)
print(answer)

{'leo'}

(알고리즘) 전화번호 목록

In [5]:

def solution(phone_book):

    for number in phone_book:
        temp=""
        for i in number:
            temp+=i
            if temp in phone_book and temp!=number:
                return False

    return True

False

(알고리즘) 위장

In [25]:
from itertools import combinations
clothes = [["yellowhat", "headgear"], ["bluesunglasses", "eyewear"], ["green_turban", "headgear"]]
cloth=[]
t=[]
for i in clothes:
    cloth.append(i[1])
    t.append(i[0])
print(t)
total=0
for i in range(len(set(cloth))):
    
    total+=len(list(combinations(t, i)))
print(total)

['yellowhat', 'bluesunglasses', 'green_turban']
4

(알고리즘) 베스트앨범

In [7]:
genres=["classic", "pop", "classic", "classic", "pop"]
plays=[500, 600, 150, 800, 2500]
genres_set = list(set(genres))
i=0
play=0
a={}
for genre in genres_set:
    for i in range(len(genres)):
        if genre == genres[i]:
            play+=plays[i]
            i+=1
        else:
            i+=1
    a[genre]=play
    play=0
print(a)

{'classic': 1450, 'pop': 3100}

SQL 테스트

(SQL) 고양이와 개는 몇마리 있을까

In [ ]:

'''
SELECT ANIMAL_TYPE, COUNT(ANIMAL_TYPE)
FROM ANIMAL_INS
GROUP BY ANIMAL_TYPE
ORDER BY ANIMAL_TYPE
'''

(SQL) 없어진 기록 찾기

In [ ]:
'''
SELECT ANIMAL_OUTS.ANIMAL_ID, ANIMAL_OUTS.NAME
FROM ANIMAL_OUTS
LEFT OUTER JOIN ANIMAL_INS
ON ANIMAL_OUTS.ANIMAL_ID = ANIMAL_INS.ANIMAL_ID
WHERE ANIMAL_INS.ANIMAL_ID IS NULL
ORDER BY ANIMAL_OUTS.ANIMAL_ID
'''