In [1]:
import pandas as pd
from urllib.request import urlretrieve

df0 = pd.read_excel('/home/kbae/bigdata_analytics/aihub_or_kr-sports_ko.xlsx', names=['id1', 'text1'])

df0

           id1                                              text1
0            1  김 감독은 27일 소프트뱅크 2군과 평가전을 마친 뒤 "어린 투수들이 안정적이고 자...
1            2  포수로 영입한 베탄코트는 나성범이 없는 동안 주로 우익수로 나섰고, 최근에 본업인 ...
2            3         그러나 미드에서 한화생명이 순간이동을 활용한 포위 공격으로 에이스를 띄웠다.
3            4          손목이 볼이 놓일 위치인 최저점에서 펴지는지를 느끼면서 몇 차례 반복한다.
4            5   그가 활약하고 있는 라이트헤비급에서는 한국뿐만 아니라 아시아 선수들을 찾아보기 힘들다.
...        ...                                                ...
199926  199927  단 같은 클럽 소속 선수는 최대 3명까지만 선택 가능해 한 구단에만 표가 쏠리는 현...
199927  199928               다만 디스플레이 패널을 조금 더 개선되었으면 하는 바람이 생겼다.
199928  199929  대회규정에 따라 2개부로 나뉘어 2부(선수출신 5명 등록, 3명 출전)는 무한천A구...
199929  199930        방망이 문제도 그렇고 식사 역시 타구단에 비해 상대적으로 단가가 낮은 편이다.
199930  199931  대한축구협회 관계자는 26일 '선수단에 포상금을 균등하게 지급하기로 내부 방침을 정...

[199931 rows x 2 columns]

In [151]:
# a=[]
# for i in range(len(df)):
#   a.append(set(df['text1'][i].split())

In [2]:
df = df0.copy()
df['id2'] = df['id1']
df['text2'] = df['text1']
df

,id1,text1,id2,text2
0,1,"김 감독은 27일 소프트뱅크 2군과 평가전을 마친 뒤 ""어린 투수들이 안정적이고 자...",1,"김 감독은 27일 소프트뱅크 2군과 평가전을 마친 뒤 ""어린 투수들이 안정적이고 자..."
1,2,"포수로 영입한 베탄코트는 나성범이 없는 동안 주로 우익수로 나섰고, 최근에 본업인 ...",2,"포수로 영입한 베탄코트는 나성범이 없는 동안 주로 우익수로 나섰고, 최근에 본업인 ..."
2,3,그러나 미드에서 한화생명이 순간이동을 활용한 포위 공격으로 에이스를 띄웠다.,3,그러나 미드에서 한화생명이 순간이동을 활용한 포위 공격으로 에이스를 띄웠다.
3,4,손목이 볼이 놓일 위치인 최저점에서 펴지는지를 느끼면서 몇 차례 반복한다.,4,손목이 볼이 놓일 위치인 최저점에서 펴지는지를 느끼면서 몇 차례 반복한다.
4,5,그가 활약하고 있는 라이트헤비급에서는 한국뿐만 아니라 아시아 선수들을 찾아보기 힘들다.,5,그가 활약하고 있는 라이트헤비급에서는 한국뿐만 아니라 아시아 선수들을 찾아보기 힘들다.
...,...,...,...,...
199926,199927,단 같은 클럽 소속 선수는 최대 3명까지만 선택 가능해 한 구단에만 표가 쏠리는 현...,199927,단 같은 클럽 소속 선수는 최대 3명까지만 선택 가능해 한 구단에만 표가 쏠리는 현...
199927,199928,다만 디스플레이 패널을 조금 더 개선되었으면 하는 바람이 생겼다.,199928,다만 디스플레이 패널을 조금 더 개선되었으면 하는 바람이 생겼다.
199928,199929,"대회규정에 따라 2개부로 나뉘어 2부(선수출신 5명 등록, 3명 출전)는 무한천A구...",199929,"대회규정에 따라 2개부로 나뉘어 2부(선수출신 5명 등록, 3명 출전)는 무한천A구..."
199929,199930,방망이 문제도 그렇고 식사 역시 타구단에 비해 상대적으로 단가가 낮은 편이다.,199930,방망이 문제도 그렇고 식사 역시 타구단에 비해 상대적으로 단가가 낮은 편이다.
199930,199931,대한축구협회 관계자는 26일 '선수단에 포상금을 균등하게 지급하기로 내부 방침을 정...,199931,대한축구협회 관계자는 26일 '선수단에 포상금을 균등하게 지급하기로 내부 방침을 정...

In [153]:
# mydoclist = list(df['text1'])
# mydoclist

In [154]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# import jellyfish


# tfidf_vectorizer = TfidfVectorizer()
# tfidf_matrix = tfidf_vectorizer.fit_transform(mydoclist)
# print(tfidf_vectorizer)
# print(tfidf_matrix)

# document_distances = (tfidf_matrix * tfidf_matrix.T)

# print('유사도 분석을 위한 ' + str(document_distances.get_shape()[0]) + 'x' + str(document_distances.get_shape()[1])+ 'matrix를 만들었습니다.')
# print(document_distances.toarray())

In [155]:
# df['text1'].iloc[0]

In [3]:
# df['similarity'] = jellyfish.jaro_distance(df['text'].iloc[0], df['text'].iloc[0])

df = df.sort_values(by=['text1'], axis=0)
df

,id1,text1,id2,text2
65467,65468,"""'LoL 챔피언스 코리아(LCK)'에서도 탑 티어로 분류되는 것은 물론 해외, 특...",65468,"""'LoL 챔피언스 코리아(LCK)'에서도 탑 티어로 분류되는 것은 물론 해외, 특..."
38632,38633,"""'어떻게 이강인은 찢어진 눈으로 저런 시야를 가질 수가 있지' 내 여친이 이렇게 ...",38633,"""'어떻게 이강인은 찢어진 눈으로 저런 시야를 가질 수가 있지' 내 여친이 이렇게 ..."
81574,81575,"""'코리언킬러' 마이티 모, 크로캅, 제롬 르배너와 싸우고 싶다"" 명현만이 목표를 ...",81575,"""'코리언킬러' 마이티 모, 크로캅, 제롬 르배너와 싸우고 싶다"" 명현만이 목표를 ..."
11305,11306,"""(2000년대생들의 활약에)정말 잘 친다는 생각만 했고, 감탄도 했다""며 ""내가 ...",11306,"""(2000년대생들의 활약에)정말 잘 친다는 생각만 했고, 감탄도 했다""며 ""내가 ..."
123601,123602,"""(K리그1)경기를 보면서 뛰고 싶다는 생각을 많이 했다""고 밝힌 그였지만, 자신의...",123602,"""(K리그1)경기를 보면서 뛰고 싶다는 생각을 많이 했다""고 밝힌 그였지만, 자신의..."
...,...,...,...,...
40625,40626,힘을 모으기 위해 앉는 동작은 천천히 내려가야 하고 힘을 발휘하기 위해 서는 동작은...,40626,힘을 모으기 위해 앉는 동작은 천천히 내려가야 하고 힘을 발휘하기 위해 서는 동작은...
146359,146360,"힘을 빼고 하는 평가전이기에 큰 의미를 부여할 필요까진 없지만, 그래도 투구 내용이...",146360,"힘을 빼고 하는 평가전이기에 큰 의미를 부여할 필요까진 없지만, 그래도 투구 내용이..."
100803,100804,힘을 활용하는 스타일이라면 상대 수비가 강할 때 제 플레이를 못할 수 있는데 손흥민...,100804,힘을 활용하는 스타일이라면 상대 수비가 강할 때 제 플레이를 못할 수 있는데 손흥민...
157702,157703,힘이 떨어진 기색을 보였으나 넥센은 투수 교체를 주저했고 한현희는 4회말 타자 3명...,157703,힘이 떨어진 기색을 보였으나 넥센은 투수 교체를 주저했고 한현희는 4회말 타자 3명...
108622,108623,힘이 있을 때에는 몸쪽 빠른 공이 파울이 되거나 먹히는 타구가 될 수 있지만 악력이...,108623,힘이 있을 때에는 몸쪽 빠른 공이 파울이 되거나 먹히는 타구가 될 수 있지만 악력이...

In [157]:
# len(df)
# print(df['id1'].iloc[0])
# print(df['id2'].iloc[1])
# print(df['text1'].iloc[0])
# print(df['text2'].iloc[1])

In [158]:
# df = df[0:1000]
# df

In [5]:
df2 = pd.DataFrame(columns=['id1', 'id2', 'text1', 'text2', 'similarity'])
df2

Empty DataFrame
Columns: [id1, id2, text1, text2, similarity]
Index: []

In [6]:
# a = df['text1'][0].split()[0]
# a
df3 = pd.DataFrame(columns=['id1', 'id2', 'text1', 'text2', 'similarity'])
df3

Empty DataFrame
Columns: [id1, id2, text1, text2, similarity]
Index: []

In [9]:
import jellyfish

cnt = 0
for i in range(len(df)):
  for j in range(i+1, len(df)):

    if jellyfish.jaro_distance(df['text1'].iloc[i][0:3], df['text2'].iloc[j][0:3])!=1: 

        break
 
    if jellyfish.jaro_distance(df['text1'].iloc[i], df['text2'].iloc[j]) >= 0.9:
      df2.loc[cnt]=[df['id1'].iloc[i],df['id2'].iloc[j], df['text1'].iloc[i], df['text2'].iloc[j], jellyfish.jaro_distance(df['text1'].iloc[i], df['text2'].iloc[j])]
      cnt+=1

KeyboardInterrupt:

In [8]:
print(len(df2))

3062

In [ ]:
sort_df = df2.sort_values(by=['similarity'], axis=0, ascending=False)
sort_df

In [ ]:
writer = pd.ExcelWriter('/content/drive/MyDrive/test.xlsx')
sort_df.to_excel(writer)
writer.save()