In [ ]:
# sql 삭제 요망

In [ ]:
# 20210826

In [ ]:
'''
SELECT DNAME,JOB, 
       COUNT(*) "Total Empl",  
       SUM(SAL) "Total Sal"        
FROM SCOTT.EMP  A, 
     SCOTT.DEPT B      
WHERE A.DEPTNO = B.DEPTNO 
GROUP BY ROLLUP(DNAME,JOB) 
ORDER BY DNAME,JOB; 
'''

In [ ]:
'''
SELECT DNAME,JOB,
COUNT(*) "Total Empl",
SUM(SAL) "Total Sal"
FROM SCOTT.EMP  A,
SCOTT.DEPT B
WHERE A.DEPTNO = B.DEPTNO
GROUP BY GROUPING SETS( (DNAME,JOB),DNAME,NULL)
ORDER BY DNAME,JOB;
'''

In [ ]:

'''
SELECT *
FROM SCOTT.EMP A,
 SCOTT.DEPT B
WHERE A.DEPTNO = B.DEPTNO
AND B.DNAME = 'SALES'
'''
# 조건 ( 조인조건과 조회조건 분리)
'''
SELECT *
FROM SCOTT.EMP A INNER JOIN SCOTT.DEPT B
    ON A.DEPTNO = B.DEPTNO
WHERE 1=1; 
AND B.DNAME ='SALES';
'''
#ANSI SQL 에서 조인 조건절 (ON 절) 에 사용된 조건절은 조인 전 조건으로 작용한다
# ON 절 이후 WHERE 절에서 쓰인 조건절은 조인후 조건절로 사용된다

In [ ]:
'''
* SQL SERVER : IDENTITY [ ( seed , increment ) ]
  - SEED : 첫번째 행이 입력될 때의 시작값
  - 증가되는 값
 - 해당 컬럼에 값을 넣을 경우 Error 발생 (Error 발생을 막기 위해서는
 IDENTITY_INSERT 를 OFF 로 하면 되나 이런 경우 IDENTITY 를 쓴 의미가 없어짐)

SQL SERVER 의 IDENTITY 로 지정된 컬럼에는 값을 넣으면 에러가 남
ORACLE 의 CHECK 조건을 만족하지 못할 경우 에러가 나나 NULL 은 무시됨
'''

In [ ]:
'''
각 테이블에 INDEX 가 반드시 필요한 것은 아니다
일반적으로 작은 테이블을 MEMORY 에 올리는 선행 테이블로 사용한다
Hash Join 은 Non Equal Join 은 불가능함. Equal Join 만 가능함
사전 Sorting 작업이 필요한 Join 알고리즘은 Sort Merge Join 임

'''

In [ ]:
'''
FROM -> WHERE -> GROUP BY -> HAVING -> SELECT -> ORDER BY
'''

In [ ]:
'''
비교연산자의 어느 한쪽이 

VARCHAR 유형 타입인 경우
1) 서로 다른 문자가 나올 때까지 비교한다
2) 길이가 다르다면 짧은 것이 끝날 때까지만 비교한 후에 길이가 긴 것이 크다고 판단한다
3) 길이가 같고 다른 것이 없다면 같다고 판단한다

CHAR 타입인 경우임

SAPCE 를 추가하여 길이를 맞춰 비교
'''

In [ ]:
'''
Oracle 의 결합 함수 : CONCAT , ||
SQL Server : + 
'''

In [ ]:
'''
CONNECT_BY_ISLEAF : 전개 과정에서 해당 데이터가 리프 데이터면 1,아니면 0
CONNECT_BY_ISCYCLE : 전개 과정에서 자식을 갖는데, 해당 데이터가 조상으로 존재하면 1, 그렇지 않으면 0
 여기서 조상이란 자신으로부터 루트까지의 경록에 존재하는 데이터를 말함
SYS_CONNECT_BY_PATH : 하위 레벨의 컬럼까지 모두 표시해줌 (구분자 지정 가능)
CONNECT_BY_ROOT : Root 노드의 정보를 표시
'''

In [ ]:
'''
TAB1  COL1 COL2 KEY1
BBB 123 B
DDD 222 C
EEE 233 D
FFF 143 E
TAB2 KEY2 COL1 COL2
A 10 BC
B 10 CD
C 10 DE

SELECT * FROM TAB1 A INNER JOIN TAB2 B ON (A.KEY1 = B.KEY2)
SELECT * FROM TAB1 A LEFT OUTER JOIN TAB2 B ON (A.KEY1 = B.KEY2)
SELECT * FROM TAB1 A RIGHT OUTER JOIN TAB2 B ON (A.KEY1 = B.KEY2)
SELECT * FROM TAB1 A FULL OUTER JOIN TAB2 B ON (A.KEY1 = B.KEY2)
SELECT * FROM TAB1 A CROSS JOIN TAB2 B 
'''

In [ ]:
'''
 <>

Cross Join 결과 12건에 대한 조건 체크\
(조건 체크시 NULL 제외) 후 SUM
'''

In [ ]:
# start sql

In [ ]:
'''
--A로 시작하는 문자를 찾기--
SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE 'A%'

--A로 끝나는 문자 찾기--
SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE '%A'

--A를 포함하는 문자 찾기--
SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE '%A%'

--A로 시작하는 두글자 문자 찾기--
SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE 'A_'

--첫번째 문자가 'A''가 아닌 모든 문자열 찾기--
SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE'[^A]'

--첫번째 문자가 'A'또는'B'또는'C'인 문자열 찾기--
SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE '[ABC]'
SELECT 컬럼명 FROM 테이블 WHERE 컬럼명 LIKE '[A-C]'
'''

In [ ]:
'''
SELECT ...
FROM 급여이력 S
WHERE NOT EXISTS (SELECT 'X'
                   FROM 사원 P
                   WHERE P.사원번호 = S.사원번호)
                  
SELECT ....
FROM 급여이력 S (LEFT OUTER) JOIN 사원 P
     ON (S.사원번호 = P.사원번호)
WHERE P.사원번호 IS NULL
'''

In [ ]:
'''
 설명 엔터티 내에서 속성에 대한 데이터 타입과 크기 그리고 제약사항을 지정하는 것
도메인
'''

In [ ]:
'''
반정규화 

테이블, 중복 테이블, 이력 테이블 추가

 '''