In [10]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kkk\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\kkk\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\kkk\anaconda3\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kkk\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\kkk\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd

In [21]:
path = 'C:/Users/KKK/Desktop/[Dataset] 작업형 제1유형/mtcars.csv'

In [28]:
df = pd.read_csv(path)

In [40]:
df_rename = df.rename(columns= {'mpg' : 'mile per gallon', })
# df_rename[['over_100', 'under_100']] = pd.DataFrame(df_rename.hp.str.split('.', 1).tolist())
df_rename

,Unnamed: 0,mile per gallon,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [53]:
# 찾기
mask = df['hp'].isin([110])
# 제거
df_mask=df_rename[~mask]
# 소숫점
df_mask['wt'].round(decimals=2)

2     2.32
4     3.44
5     3.46
6     3.57
7     3.19
8     3.15
9     3.44
10    3.44
11    4.07
12    3.73
13    3.78
14    5.25
15    5.42
16    5.34
17    2.20
18    1.62
19    1.84
20    2.46
21    3.52
22    3.44
23    3.84
24    3.84
25    1.94
26    2.14
27    1.51
28    3.17
29    2.77
30    3.57
31    2.78
Name: wt, dtype: float64

In [50]:
df_test=df_mask.iloc[1].transpose()
df_test

Unnamed: 0         Hornet Sportabout
mile per gallon                 18.7
cyl                                8
disp                             360
hp                               175
drat                            3.15
wt                              3.44
qsec                           17.02
vs                                 0
am                                 0
gear                               3
carb                               2
Name: 4, dtype: object

MultiIndex

In [8]:
df2= pd.DataFrame({"a" : [4,5,6], "b" : [7,8,9], "c" : [10,11,12]}, index=pd.MultiIndex.from_tuples([('d', 1), ('d', 2), ('e', 2)], names=['n', 'v'] ))
df2

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

Pickle

In [16]:
users = {'kim' : '3kid9', 'sun80' : '393948', 'ljm' : 'py90390'}
f = open('users', 'wb')
import pickle
pickle.dump(users, f)
f.close()

In [13]:
import os
os.path.exists('users')

True

In [17]:
f = open('users', 'rb')
a = pickle.load(f)
print(a)

{'kim': '3kid9', 'sun80': '393948', 'ljm': 'py90390'}

glob

In [18]:
from glob import glob
glob('*.ipynb')

['pandas_1.ipynb',
 '[실습]Ch01.pandas - 02.series와dataframe.ipynb',
 '[실습]Ch01.pandas - 03.csv파일_읽어오기.ipynb',
 '[실습]Ch01.pandas - 04.excel파일_읽어오기.ipynb',
 '[실습]Ch01.pandas - 05.통계값(describe),요약정보(info),정렬(sort).ipynb',
 '[실습]Ch01.pandas - 06~09.selection~결측값 색인.ipynb',
 '[실습]Ch01.pandas - 10~15.복사~인덱스.ipynb',
 '[실습]Ch02.pandas_데이터전처리 - 01~03.결측값 채우기(fillna)_.ipynb',
 '[실습]Ch02.pandas_데이터전처리 - 04~05.DataFrame.ipynb',
 '[실습]Ch02.pandas_데이터전처리 - 06~07.Series~datatime.ipynb',
 '[실습]Ch02.pandas_데이터전처리 - 08~09.apply~lambda.ipynb',
 '[실습]Ch02.pandas_데이터전처리 - 10.데이터프레임의산술연산_.ipynb',
 '[실습]Ch02.pandas_데이터전처리 - 11~12.select~원핫인코딩.ipynb',
 '[실습]Ch02.pandas_데이터전처리 - 13~14.부동산데이터.ipynb',
 '[실습]Ch03.pandas_데이터시각화.ipynb']

In [19]:
glob(r'C:\U*')

['C:\\Users']

os.path

In [20]:
from glob import glob
from os.path import isdir

for x in glob('*'):
    if isdir(x):
        print(x, 'DIR')
    else:
        print(x)

bigdata_analystics_test.py
pandas_1.ipynb
users
[실습]Ch01.pandas - 02.series와dataframe.ipynb
[실습]Ch01.pandas - 03.csv파일_읽어오기.ipynb
[실습]Ch01.pandas - 04.excel파일_읽어오기.ipynb
[실습]Ch01.pandas - 05.통계값(describe),요약정보(info),정렬(sort).ipynb
[실습]Ch01.pandas - 06~09.selection~결측값 색인.ipynb
[실습]Ch01.pandas - 10~15.복사~인덱스.ipynb
[실습]Ch02.pandas_데이터전처리 - 01~03.결측값 채우기(fillna)_.ipynb
[실습]Ch02.pandas_데이터전처리 - 04~05.DataFrame.ipynb
[실습]Ch02.pandas_데이터전처리 - 06~07.Series~datatime.ipynb
[실습]Ch02.pandas_데이터전처리 - 08~09.apply~lambda.ipynb
[실습]Ch02.pandas_데이터전처리 - 10.데이터프레임의산술연산_.ipynb
[실습]Ch02.pandas_데이터전처리 - 11~12.select~원핫인코딩.ipynb
[실습]Ch02.pandas_데이터전처리 - 13~14.부동산데이터.ipynb
[실습]Ch03.pandas_데이터시각화.ipynb

split, rsplit

In [33]:
s = pd.Series(
    [
        "this is a regular sentence",
        "https://docs.python.org/3/tutorial/index.html",
    ]
)

In [36]:
s.str.rsplit(n=2)
#우측에서

0                     [this is a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
dtype: object

In [37]:
s.str.rsplit("/", n=2, expand=True)

                            0         1           2
0  this is a regular sentence      None        None
1   https://docs.python.org/3  tutorial  index.html

In [69]:
a=[["yellowhat", "headgear"], ["bluesunglasses", "eyewear"], ["green_turban", "headgear"]]
a=pd.DataFrame(a, columns=['clothes', 'type'])
a

          clothes      type
0       yellowhat  headgear
1  bluesunglasses   eyewear
2    green_turban  headgear

In [71]:
pd.melt(a)

  variable           value
0  clothes       yellowhat
1  clothes  bluesunglasses
2  clothes    green_turban
3     type        headgear
4     type         eyewear
5     type        headgear

In [60]:
print(a[1][1])

eyewear

In [89]:
a= ["classic", "pop", "classic", "classic", "pop"]
b= [500, 600, 150, 800, 2500]

for i in range(len(a)):
    c={a[i]:b[i]}
    print(c)

{'classic': 500}
{'pop': 600}
{'classic': 150}
{'classic': 800}
{'pop': 2500}