In [90]:
import pandas as pd
import os
path = '/home/sia/personal/bigdata_analytics/big_data'
X_train = pd.read_csv(os.path.join(path, 'X_train.csv'), encoding = 'cp949')
X_train = X_train.iloc[:, 1:]
X_test = pd.read_csv(os.path.join(path, 'X_test.csv'), encoding = 'cp949')
X_test_id = X_test.iloc[:,0]
X_test = X_test.iloc[:, 1:]
y_train = pd.read_csv(os.path.join(path, 'y_train.csv'), encoding = 'cp949')
y_train = y_train.iloc[:, -1]

In [6]:
# shape 확인
X_train.shape, X_test.shape, y_train.shape

((3500, 9), (2482, 9), (3500,))

In [4]:
# 값 확인
y_train.value_counts()

0    2184
1    1316
Name: gender, dtype: int64

In [13]:
# null 확인
X_train.isnull().sum(), X_test.isnull().sum()

(총구매액          0
 최대구매액         0
 환불금액       2295
 주구매상품         0
 주구매지점         0
 내점일수          0
 내점당구매건수       0
 주말방문비율        0
 구매주기          0
 dtype: int64,
 총구매액          0
 최대구매액         0
 환불금액       1611
 주구매상품         0
 주구매지점         0
 내점일수          0
 내점당구매건수       0
 주말방문비율        0
 구매주기          0
 dtype: int64)

In [29]:
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

In [18]:
X_train.head(3)

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000  0.000000     1

In [8]:
import pandas
print(dir(pandas))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [91]:
# 범주형, 수치형 분리
c_train = X_train.select_dtypes(include='object').copy()
n_train = X_train.select_dtypes(exclude='object').copy()

c_test = X_test.select_dtypes(include='object').copy()
n_test = X_test.select_dtypes(exclude='object').copy()

In [92]:
# 범주형 Encoder

#Label
from sklearn.preprocessing import LabelEncoder
c_train = c_train.apply(LabelEncoder().fit_transform)
c_test = c_test.apply(LabelEncoder().fit_transform)
#One-Hot
# c_train = pd.get_dummies(c_train)
# c_test = pd.get_dummies(c_test)

# c_train.shape, c_test.shape

In [93]:
# 수치형 

n_train['환불금액'] = n_train['환불금액'].fillna(0)
n_test['환불금액'] = n_test['환불금액'].fillna(0)

In [94]:
X_train = pd.concat([c_train, n_train], axis =1)
X_test = pd.concat([c_test, n_test], axis =1)

In [82]:
X_test.value_counts()

주구매상품  주구매지점  총구매액         최대구매액        환불금액        내점일수   내점당구매건수   주말방문비율    구매주기
0      0      54000.0      54000.0      0.0         1.0    1.000000  0.000000  0.0     1
20     8      68784760.0   18000000.0   0.0         13.0   3.923077  0.156863  27.0    1
              36310200.0   26964000.0   0.0         1.0    3.000000  0.000000  0.0     1
              36622400.0   11875000.0   0.0         13.0   1.230769  0.062500  20.0    1
              41997600.0   6950000.0    708000.0    27.0   1.740741  0.000000  12.0    1
                                                                                      ..
5      11     508479410.0  107760000.0  23760000.0  40.0   2.825000  0.309735  8.0     1
              665502070.0  51060000.0   5957000.0   110.0  2.136364  0.336170  3.0     1
              839160600.0  445875000.0  9250000.0   42.0   6.523810  0.142336  8.0     1
       14     2189000.0    2189000.0    0.0         1.0    1.000000  1.000000  0.0     1
41     23     35300330.0   5664000.0    4218000.0   23.0   4.304348  0.424242  14.0    1
Length: 2482, dtype: int64

In [95]:
# scaling

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [96]:
# train, validation 분리
from sklearn.model_selection import train_test_split
# print(help(train_test_split))
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, stratify=y_train, test_size=0.33, random_state=42)

In [97]:
# 모델 정의
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier, XGBRFClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier

rf = RandomForestClassifier(random_state=42)
gb = GradientBoostingClassifier(random_state=42)
xgb = XGBClassifier(random_state=42)
xgb_rf = XGBRFClassifier(random_state=42)
lr = LogisticRegression()
knn = KNeighborsClassifier()
mlp = MLPClassifier(random_state=42)

In [98]:
from sklearn.metrics import roc_auc_score
models = [rf, gb, xgb, xgb_rf, lr, knn, mlp]

for model in models:
    model.fit(X_tr, y_tr)
    print(model.__class__.__name__)
    print(roc_auc_score(y_val, model.predict_proba(X_val)[:,1]).round(5))

RandomForestClassifier
0.61347
GradientBoostingClassifier
0.64532
XGBClassifier
0.59838
XGBRFClassifier
0.65121
LogisticRegression
0.60938
KNeighborsClassifier
0.58703
MLPClassifier
0.63179

In [99]:
df = pd.DataFrame(X_test)
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [109]:
from sklearn.ensemble import RandomForestClassifier
# print(help(RandomForestClassifier))
rf = RandomForestClassifier(n_estimators=50,max_depth=5, random_state=42)
rf.fit(X_tr, y_tr)
# predict = rf.predict_proba(X_val)[:,1]
# print(roc_auc_score(y_val, predict))
predict = rf.predict_proba(X_test)[:,1]
pd.DataFrame({'custid':X_test_id, 'gender': predict}).to_csv('/home/sia/personal/bigdata_analytics/big_data/4.csv', index=False)
# predict

In [110]:
result = pd.read_csv('/home/sia/personal/bigdata_analytics/big_data/4.csv', encoding='cp949')
result

      custid    gender
0       3500  0.515129
1       3501  0.195761
2       3502  0.189359
3       3503  0.490403
4       3504  0.441029
...      ...       ...
2477    5977  0.479149
2478    5978  0.494705
2479    5979  0.412773
2480    5980  0.368198
2481    5981  0.484537

[2482 rows x 2 columns]

In [111]:
X_test_id

0       3500
1       3501
2       3502
3       3503
4       3504
        ...
2477    5977
2478    5978
2479    5979
2480    5980
2481    5981
Name: cust_id, Length: 2482, dtype: int64

In [9]:
print(help(pd.DataFrame.dropna))

Help on function dropna in module pandas.core.frame:

dropna(self, axis: 'Axis' = 0, how: 'str' = 'any', thresh=None, subset: 'IndexLabel' = None, inplace: 'bool' = False)
    Remove missing values.

    See the :ref:`User Guide <missing_data>` for more on which values are
    considered missing, and how to work with missing data.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Determine if rows or columns which contain missing values are
        removed.

        * 0, or 'index' : Drop rows which contain missing values.
        * 1, or 'columns' : Drop columns which contain missing value.

        .. versionchanged:: 1.0.0

           Pass tuple or list to drop on multiple axes.
           Only a single axis is allowed.

    how : {'any', 'all'}, default 'any'
        Determine if row or column is removed from DataFrame, when we have
        at least one NA or all NA.

        * 'any' : If any NA values are present, drop that row or column.
        * 'all' : If all values are NA, drop that row or column.

    thresh : int, optional
        Require that many non-NA values.
    subset : column label or sequence of labels, optional
        Labels along other axis to consider, e.g. if you are dropping rows
        these would be a list of columns to include.
    inplace : bool, default False
        If True, do operation inplace and return None.

    Returns
    -------
    DataFrame or None
        DataFrame with NA entries dropped from it or None if ``inplace=True``.

    See Also
    --------
    DataFrame.isna: Indicate missing values.
    DataFrame.notna : Indicate existing (non-missing) values.
    DataFrame.fillna : Replace missing values.
    Series.dropna : Drop missing values.
    Index.dropna : Drop missing indices.

    Examples
    --------
    >>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
    ...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
    ...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
    ...                             pd.NaT]})
    >>> df
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Drop the rows where at least one element is missing.

    >>> df.dropna()
         name        toy       born
    1  Batman  Batmobile 1940-04-25

    Drop the columns where at least one element is missing.

    >>> df.dropna(axis='columns')
           name
    0    Alfred
    1    Batman
    2  Catwoman

    Drop the rows where all elements are missing.

    >>> df.dropna(how='all')
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep only the rows with at least 2 non-NA values.

    >>> df.dropna(thresh=2)
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Define in which columns to look for missing values.

    >>> df.dropna(subset=['name', 'toy'])
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep the DataFrame with valid entries in the same variable.

    >>> df.dropna(inplace=True)
    >>> df
         name        toy       born
    1  Batman  Batmobile 1940-04-25

None